Ai workflow.json
{
  "name": "Ai workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1O-omBs2gSQpM-s5NUH4WJffMbbs7PC9zEA9_jdsnx2Y",
          "mode": "list",
          "cachedResultName": "Social Media Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O-omBs2gSQpM-s5NUH4WJffMbbs7PC9zEA9_jdsnx2Y/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1O-omBs2gSQpM-s5NUH4WJffMbbs7PC9zEA9_jdsnx2Y/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        -128
      ],
      "id": "eb498fb3-1fd9-4936-b021-e63d7d970feb",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FiHso1PbuTmGdTTv",
          "name": "Google Sheets Trigger account 2540"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= System: \"You are a social media strategist with expertise in content adaptation\"\n\n  User: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 200 words for social media adaptation\n  \n  Article: {{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        -320,
        -128
      ],
      "id": "f2463fa2-c0e8-443c-80d9-1a255283025f",
      "name": "Summarized"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        128
      ],
      "id": "51f39b6a-242e-4591-92a9-a72c59cb2b56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fTfSaopqhPrzlWBi",
          "name": "Google Gemini(PaLM) Api account 6422"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement or discussion. Highlight any notable implications for the industry. Since LinkedIn supports detailed posts, ensure it is informative and structured. Don't go above 3000 characters Include a professional call to action. Here's a summary of the article:  {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        64,
        -128
      ],
      "id": "b1c3ba05-1d38-44df-8734-34cdd1e28075",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        144
      ],
      "id": "76b8b99d-683f-4d39-8c4a-0f651fbc86ba",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "fTfSaopqhPrzlWBi",
          "name": "Google Gemini(PaLM) Api account 6422"
        }
      }
    },
    {
      "parameters": {
        "person": "A-QBzNHOkR",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        384,
        -128
      ],
      "id": "9ccc562f-e456-4e58-bb56-83ec9e8fbfbf",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "X45XJosXbNdlI8T7",
          "name": "LinkedIn account 1789"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarized",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarized": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3563933a-1d10-47dc-a396-170d8a3efeb0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "ymNCDyw9OhVxGqyx",
  "tags": []
}